<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link rel="stylesheet" href="../public/css/style.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">index</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/sendinn">sensinn</a></li>
        <li><a href="#">test</a></li>
        <li><a href="#">hi</a></li>
      </ul>
    </nav>
    <main>
      <h1>index</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
        voluptatum, quibusdam, voluptate, quia quod quos voluptas exercitationem
        quas voluptatibus quidem doloribus. Quisquam voluptatum, quibusdam,
        voluptate, quia quod quos voluptas exercitationem quas voluptatibus
        quidem doloribus.
      </p>
      <ul id="itemlist"></ul>
      <form id="nameForm">
        <input type="text" id="nameInput" placeholder="Enter name" required />
        <button type="submit">Add Name</button>
      </form>
    </main>
    </main>

    <script src="../public/js/first.js"></script>
  </body>
</html>
